* {
    --color: {{ initParams.color }};
    /* 
      This is an example of how to use MotorCortex's init params in css, using a css variable
        if you are unfamiliar with css variables here is a quick guide https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties#basic_usage
    */
}

.root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
}

.text{
  font-size: 100px;
    font-weight: 900;
    position: absolute;
    text-transform: uppercase;
    top: 100%;
}

.text-wrapper{
  overflow: hidden;
    position: absolute;
    top: 40%;
    width: 1184px;
    height: 100px;
}

.date-title,.link{
  font-size: 40px;
  font-weight: 700;
  position: relative;
  top: -100%;
  opacity: 0;
}

.date-title-wrapper{
  overflow: hidden;
  position: absolute;
  top: 75%;
}

.link{
  top: 32%;
  font-weight: 100;
  opacity: 0;
  color: black;
  text-decoration: none;
}