* {
    --font-size: {{ initParams.fontSize }};
    --font-color: {{ initParams.color }};
    /* 
      This is an example of how to use MotorCortex's init params in css, using a css variable
        if you are unfamiliar with css variables here is a quick guide https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties#basic_usage
    */
}

.root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  
}

.conf-title{
  font-weight: 900;
  font-size: 150px;
  position: relative;
  top: 100%;
}

.date-title{
  font-size: 40px;
  font-weight: 300;
  position: relative;
  top: -100%;
}

  
.conf-title-wrapper,.date-title-wrapper{
  overflow: hidden;
}


.sponsor-wrapper{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  position: relative;
  top: 100px;
}

.logos-wrapper{
  overflow: hidden;
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
  width: 250px;
  height: 80px;
  background-repeat: no-repeat;
  background-size: contain;
}

.git{
  background-image: url(/assets/git.png);
}

.intel{
  background-image: url(/assets/intel.png);
}

.google{
  background-image: url(/assets/google.png);
}

.sponsor-title,.logo{
  opacity: 0;
}